.home {
  background-color: gray;
  height: 100vh;
  text-align: center;
  vertical-align: middle;
  padding-top: 10%;
}
.home .logo img {
  width: 150px;
}
.home .titre {
  font-weight: bold;
}
.home .titre h2 {
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 5px;
}
.home .titre h4 {
  font-size: 1.7em;
}
.home .boutons .link {
  font-size: 1.1em;
  font-weight: 500;
  border-radius: 30px;
  background: #dc3545 !important;
  border: 2px solid #000 !important;
  color: #000 !important;
  padding: 10px;
  transition: all .2s ease;
}
.home .boutons .link:hover {
  font-size: 1.1em;
  background: #000 !important;
  border: 2px solid #dc3545 !important;
  color: #dc3545 !important;
}
